
<h1>Books</h1>

<h1><%= @patron.name() %></h1>

  <% if @patron.books().any?() %>

    <h3>Here are all the books with this patron:</h3>

    <ul>
      <% @patron.books().each() do |book| %>
        <li><%= book.title() %> <%= book.author() %></li>
      <% end %>
    </ul>

    <% else %>
      <p>There are no books with this patron!</p>
    <% end %>

<p><a href="/patrons/<%= @patron.id() %>/edit">Edit<%= @patron.name() %>patron</a></p>

  <hr>
    <a href="/">Return to Main Page</a>
